APP_PORT=8080

POSTGRES_DB=hrreserve
POSTGRES_USER=hrreserve
POSTGRES_PASSWORD=change-me

EMAIL_ENABLED=false
EMAIL_HOST=
EMAIL_PORT=587
EMAIL_USE_SSL=true
EMAIL_USERNAME=
EMAIL_PASSWORD=
EMAIL_FROM_EMAIL=no-reply@hrreserve.local
EMAIL_FROM_NAME=HR Reserve System
EMAIL_REDIRECT_ALL_TO=
